body
{
    font-family: arial, sans-serif;
}
.navBar{
    margin: 20px;
    box-sizing: border-box;
    padding: 0 20px 0 0;
    
}
.rbts {
    float:right;
    background-color: red;
    height: 30px;
    width: 75px;

}
.menuButton{
    background-color: green;
    width:19px;
    height: 10px;
    position:relative;
    display: block;
}
.menuButtonL{
    background-color: blue;
    position:relative;
    display:block;
    width: 45px;
    height: auto;
    float:right;
    
    
}
.rbts div{
    vertical-align: middle;
}
a .MenuImage{
    opacity: .64;
    width: 19px;
    margin: 0 8px 5px 0;
   
}
.GoogleImage{
    width: 45px;
   
}

.lbts{   /* Esta clase, selecciona al div que contiene los elementos GMAIL e IMAGES y los posiciona */
    float:right;
 
    margin: 0 23px 0 0;
}

.lbts div { /*Este selector selecciona a los hijos div, esn este caso, GMAIL e IMAGES, y los hace aparecer de manera vertical*/
    display:inline;
    vertical-align: middle;
    font-size: 13px;
}

.Images{
    margin-left: 15px;
}

.links{
    text-decoration:none;
    color: rgba(0,0,0,0.87);
}
