*, body, html{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: Roboto,HelveticaNeue,Arial,sans-serif;
    height:100%;
    overflow: hidden;

}
a{
    text-decoration: none;
    color: #70757a;
}
li{
    list-style-type:none;
}
article{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto auto;
}
.Desktopnav{
    display:none
}
.upb{
    display: grid;
    grid-template-columns: 15% auto 30%;
    align-content: end;
    line-height: 50px;
}
.upb > .rght, .upb > .lft{
    display:flex;
}
.rght{
    justify-content:space-around;
    padding-top: 3px;
    padding-left: 16px;

}
.MenuMobile{
    padding: 7px 17px;
}

.MenuMobile > svg {
    fill:#70757a;
    width:24px;
    height:24px;
}

.menu > a > img{
    width: 16px; 
    opacity: .5;
    height: 17px;
}

.usimage{
    padding-top: 6px;
}

.gbii{
    height:32px;
    border-radius: 20px;
}

.lft li{
    color: #70757a;
    font-size: 12px;
    font-weight: 600;
    line-height: 48px;
    margin-right: 8px;
    padding: 0 8px;
    text-transform: uppercase;
}
.active{
    color: #4285f4;
    border-bottom: 2px solid #4285f4;
}

.mainLogo{
    display:flex;
    padding-top: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height:auto;
    
}
.mLogo{
    width:200px;
    align-self: center;
    height: 67.64px;
    
}

.containersearchbar{
    width: 100%;
    margin-top: 40px;
    text-align:center;
    border: 1px solid #dadce0;
    border-radius: 20px;
    display:flex;
    justify-content: flex-start;
    height:38px;
}
#searchBar{
    display:flex;
    width:88%;
    padding: 9px;
    border:none;
    outline:none;
    
}

form{
    width:100%;
    display:flex;
    justify-content: center;
    padding: 0 8px;
}

.containersearchbar > svg {
    width:25px;
    opacity: .5;
    margin-left: 10px;
}

.language{
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 30px;
    font-size: 13px;
    height:auto;
}

.language a{
     color: #1967d2;;
     padding-left: 5px;
}

footer > div {
    height:auto;
    background: #f2f2f2;
}
.country{
    box-sizing: border-box;
    border-top: 1px solid #dadce0;
    display:flex;
    justify-content:center;
    align-content: center;
    
}
.country p{
    height:40%;
    align-self: center;
    color: #3c4043;
    font-weight: bold;
    line-height: 30px;
}
.frstitems > ul {
    display:flex;
    width:auto;
    justify-content:space-around;
    box-sizing: border-box;

}
.scnditems > ul {
    display:flex;
    width:auto;
    height:auto;
    justify-content:space-around;
    padding-bottom: 10px;
}

.frstitems, .scnditems{
    height:50%;
    font-size: 13px;
    padding: 0 70px;
    line-height: 20px;
    height:auto;
}

.frstitems{
    border-top: 1px solid #dadce0;
    padding: 10px 80px;
}
@media (max-width: 300px)
{
    .upb{
        grid-template-columns: 19% auto auto;
     }
     .rght, .menu{
         padding-right: 20px;
     }
     .frstitems, .scnditems {
        padding: 0;
    }
    .frstitems ul, .scnditems ul{
        padding: 10px 40px;
        font-size: 13px;
    }
}

@media (min-width: 540px) {
    .upb{
        grid-template-columns: 10% auto 18%;
     }
    .frstitems ul, .scnditems ul{
        padding: 5px 100px 5px 100px;
        font-size: 13px;
    }
}

@media (min-width:760px)
{
    .upb{
       grid-template-columns: 7% auto 15%;
    }
    .mainLogo{
        padding-top: 75px;
    }
    .mLogo{
        width: 265px;
        height:90px;
    }
    .frstitems ul, .scnditems ul{
        padding: 10px 180px 0 180px;
        font-size: 15px;
    }
    
}

@media (min-width: 1000px){
    .upb{
        grid-template-columns: 6% auto 12%;
     }
     .containersearchbar{
         width:70%;
     }
     .frstitems ul, .scnditems ul{
        padding: 10px 250px 0 250px;
        font-size: 16px;
    }
}

@media (min-width: 1080px){
    .MenuMobile, .rght, .lft{
        display:none !important;
    }
    .mainLogo{
        padding-top: 60px !important;
    }
    .mLogo{
        width: 275px;
        height:95px;
    }
    .upb{
        grid-template-columns: auto;
        grid-auto-flow: column;
     }
     .Desktopnav{
         display: flex;
         justify-content:flex-end;
         padding:15px 30px 0 0;
     }
     
     .dkmenu{
         padding-right: 10px;
         line-height: 37px;
     }

     .dkmenu > a > img{
        width: 40px;
        opacity: .6;
        height: 16px;
     }

     .dkusr a img{
        border-radius: 20px;
        height:32px; 
        width: 32px;
     }
     
     .dkimg, .dkmail{
         line-height: 32px;
         padding-right: 9px;
         font-size: 13px;
     }
     .dkimg a, .dkmail a{
        color: rgba(0,0,0,0.87) !important;
     }
     .dkmail{
         padding-right: 14px;
     }
     .containersearchbar{
        width:43%;
    }
    .containersearchbar:hover{
        background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
    }
    .country {
        display: none;
    }
    
    footer {
        display:grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        background: #f2f2f2;
        border-top: 1px solid #dadce0;

    }
    .frstitems, .scnditems, .frstitems ul, .scnditems ul{
        padding:0;
        font-size: 14px;
        border:none;
    }
    .scnditems{
        order:1;
        padding: 11px;
    }
    .frstitems{
        order:2;
        justify-self: end;
        width:50%;
        padding: 11px;
    }
    .frstitems ul, .scnditems ul{
        display:flex;
        justify-content:flex-start
    }
    .frstitems ul li:hover, .scnditems ul li:hover, .language a:hover {
        text-decoration: underline;
    }
    .scnditems ul{
        padding-left: 20px; 
        width: 130%
    }
    .advertising, .business{
        padding-right: 26px;
    }
    .frstitems ul{
        padding-left: 85px;
    }
    .settings{
        order:100;
    }
    .privacy, .terms, .about{
        padding-right: 26px;
    }
    .hsw{
        display: inherit !important;
        
    }

    .buttons{
        display: block !important;
        text-align:center;
        line-height: 120px;
        height:auto !important;

    }
    .searchbutton, .randomsearch{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    }
    .searchbutton:hover, .randomsearch:hover{
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        background-image: -webkit-linear-gradient(top,#f8f9fa,#f8f9fa);
        background-color: #f8f9fa;
        border: 1px solid #dadce0;
        color: #202124;
    }
    .language{
        padding:0;
    }

    .dkmail a:hover, .dkimg a:hover{
        text-decoration: underline;
        opacity: .8
    }
    .dkmenu a img:hover{
        opacity: 1 !important;
    }
    form{
       
    }

}
