*, body, html{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: Roboto,HelveticaNeue,Arial,sans-serif;
    height:100%;

}
a{
    text-decoration: none;
    color: #70757a;
}
li{
    list-style-type:none;
}
article{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto auto;
}
.upb{
    display: grid;
    grid-template-columns: 15% auto 30%;
    align-content: end;
    line-height: 50px;
}
.upb ul{
    display:flex;
}
.rght{
    justify-content:space-around;
    padding-top: 3px;
    padding-left: 16px;

}
.MenuMobile{
    padding: 7px 17px;
}

.lft li{
    color: #70757a;
    font-size: 12px;
    font-weight: 600;
    line-height: 48px;
    margin-right: 8px;
    padding: 0 8px;
    text-transform: uppercase;
}
.active{
    color: #4285f4;
    border-bottom: 2px solid #4285f4;
}

.mainLogo{
    display:flex;
    padding-top: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height:auto;
    
}
.mLogo{
    width:200px;
    align-self: center;
    
}
.containersearchbar{
    width: 95%;
    margin-top: 40px;
    text-align:center;
    border: 1px solid #dadce0;
    border-radius: 20px;
    display:flex;
    justify-content: flex-start;
    height:38px;
}
#searchBar{
    display:flex;
    width:88%;
    padding: 9px;
    border:none;
    
}

.containersearchbar > svg {
    width:25px;
    opacity: .5;
    margin-left: 10px;
}

.language{
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 30px;
    font-size: 13px;
    height:auto;
}

.language a{
     color: #1967d2;;
     padding-left: 5px;
}

footer > div {
    height:auto;
    background: #f2f2f2;
}
.country{
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    border-top: 1px solid #dadce0;
    
    display:flex;
    justify-content:center;
    align-content: center;
    
}
.country p{
    height:40%;
    align-self: center;
    color: #3c4043;
    font-weight: bold;
    line-height: 30px;
}
.frstitems > ul {
    display:flex;
    width:100%;
    justify-content:space-around;
    box-sizing: border-box;
    padding-top: 10px;

}
.scnditems > ul {
    display:flex;
    width:auto;
    height:auto;
    justify-content:space-around;
    padding-bottom: 10px;
}

.frstitems, .scnditems{
    height:50%;
    font-size: 13px;
    padding: 0 70px;
    line-height: 20px;
    height:auto;
}

.frstitems{
    border-top: 1px solid #dadce0;
    padding: 10px 80px;
}

